<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <label for="birthday">Birthday</label>
    <input type="date" id="birthday" th:field="*{birthday}"  min="1930-01-01"  max="2020-12-31"/>
    <label for="address">Address</label>
    <input type="text" th:field="*{address}" id="address" placeholder="Санкт-Петербург, б.пр-т Васильевского острова">
    <input type="submit" value="Create User">
</form>
</body>
</html>